docker/*
!docker/entrypoint.sh

static/assets/
static/icons/
static/favicon.ico
static/index.html

.idea/
.vs/

venv/
__pycache__/
db.sqlite3
static/manifest.json
static/sw.js
static/workbox-*

# Development
.env
*.jar

# Added by cargo

/target
