// app global css in SCSS form

.q-card {
  border-radius: $card-border-radius;
}

@media screen and (min-width: 600px) {
  .responsive-card {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.q-menu {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

//

.body--light {
  background: $light-page;

  .q-page {
    a {
      color: $link-light !important;
    }
  }

  footer {
    background: $light-page !important;
  }

  // custom
  .q-menu {
    border: 1px solid $separator-color;
  }
}

/* -------------------------------------------------------------------------- */

.body--dark {
  background: $dark-page;

  .q-page {
    a {
      color: $link-dark !important;
    }
  }

  footer {
    background: $dark-page !important;
  }

  // custom
  .q-menu {
    border: 1px solid $separator-dark-color;
  }
}
